<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright [2020] [lihaifeng,xuhang]
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.application.upms.mapper.PlatformSsoUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="userDOMap" type="com.gitee.common.upms.entity.PlatformSsoUser">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_date" property="updateDate"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="login_count" property="loginCount"/>
        <result column="login_error_count" property="loginErrorCount"/>
        <result column="login_time" property="loginTime"/>
        <result column="login_status" property="loginStatus"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

    <resultMap id="userVOMap" type="com.gitee.common.upms.vo.UserVO">
        <collection ofType="com.gitee.common.upms.entity.PlatformRole" property="roleList">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
            <result column="remark" property="remark"/>
            <result column="create_user" property="createUser"/>
            <result column="create_date" property="createDate"/>
            <result column="update_user" property="updateUser"/>
            <result column="update_date" property="updateDate"/>
        </collection>
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_date" property="updateDate"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="login_count" property="loginCount"/>
        <result column="login_error_count" property="loginErrorCount"/>
        <result column="login_time" property="loginTime"/>
        <result column="login_status" property="loginStatus"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <select id="getUserVoByUsername" resultMap="userVOMap">
        select
        <include refid="userRoleSql"/>
        from platform_sso_user u
        left join platform_user_role ur on u.id = ur.user_id
        left join platfrom_role r on r.role_id = ur.role_id
        where t.username=#{username}
    </select>

    <select id="getUserVosPage" resultType="java.util.List">

    </select>

    <select id="getUserVoById" resultType="com.gitee.common.upms.vo.UserVO">

    </select>
    <sql id="userRoleSql">
        u.id,
        u.username,
        u.nickname,
        u.password,
        u.mobile,
        u.email,
        u.login_count,
        u.login_error_count,
        u.login_time,
        u.login_status,
        u.avatar ,
        u.create_user,
        u.create_date,
        u.update_user,
        u.update_date,
        r.role_id,
        r.role_name,
        r.remark,
        r.create_user,
        r.create_date,
        r.update_user,
        r.update_date,
    </sql>
    <sql id="userSql">
        u.id,
        u.username,
        u.nickname,
        u.password,
        u.mobile,
        u.email,
        u.login_count,
        u.login_error_count,
        u.login_time,
        u.login_status,
        u.avatar ,
        u.version,
        u.create_user,
        u.create_date,
        u.update_user,
        u.update_date
    </sql>

</mapper>
