<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright [2020] [lihaifeng,xuhang]
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.application.upms.mapper.PlatformLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitee.common.upms.dao.PlatformLogDAO">
        <id column="log_id" property="logId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_date" property="createDate"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_date" property="updateDate"/>
        <result column="version" property="version"/>
        <result column="username" property="username"/>
        <result column="operation" property="operation"/>
        <result column="time" property="time"/>
        <result column="method" property="method"/>
        <result column="params" property="params"/>
        <result column="ip" property="ip"/>
        <result column="location" property="location"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_user,
        create_date,
        update_user,
        update_date,
        version,
        log_id, username, operation, time, method, params, ip, location
    </sql>

</mapper>
