<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright [2020] [lihaifeng,xuhang]
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitee.application.upms.mapper.PlatformMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gitee.application.upms.entity.PlatformMenu">
        <id column="menu_id" property="menuId"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="revision" property="revision"/>
        <result column="parenplatform_id" property="parenplatformId"/>
        <result column="menu_name" property="menuName"/>
        <result column="path" property="path"/>
        <result column="component" property="component"/>
        <result column="perms" property="perms"/>
        <result column="icon" property="icon"/>
        <result column="type" property="type"/>
        <result column="order_num" property="orderNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        created_by,
        created_time,
        updated_by,
        updated_time,
        revision,
        menu_id, parenplatform_id, menu_name, path, component, perms, icon, type, order_num
    </sql>

</mapper>
